{% if widget.is_initial %}
  <div>
    {{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
      <input type="checkbox"
             name="{{ widget.checkbox_name }}"
             id="{{ widget.checkbox_id }}"
             {% if widget.attrs.disabled %}disabled{% endif %}
             {% if widget.attrs.checked %}checked{% endif %}>
      <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    {% endif %}
  </div>
  {{ widget.input_text }}:
{% endif %}
<div class="dz-clickable dropzone">
  <input type="{{ widget.type }}"
         name="{{ widget.name }}"
         {% include "django/forms/widgets/attrs.html" %}>
  {% include "django_multipart_upload/preview_template.html" %}
</div>
