<p>
  {% if widget.is_initial %}
    {{ widget.initial_text }}:
    <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
      <input type="checkbox"
             name="{{ widget.checkbox_name }}"
             id="{{ widget.checkbox_id }}"
             {% if widget.attrs.disabled %}disabled{% endif %}
             {% if widget.attrs.checked %}checked{% endif %}>
      <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    {% endif %}
    <br>
    {{ widget.input_text }}:
  {% endif %}
  <nobr>
    <span class="dz-clickable dropzone">
      <button type="button" class="input-group-text">Escolher arquivo</button>
      <span class="dz-files">
        <span class="dz-no-file">Nenhum arquivo escolhido</span>
      </span>
      {% include "django_multipart_upload/preview_template.html" %}
      <input type="{{ widget.type }}"
             name="{{ widget.name }}"
             data-initial="{{ widget.is_initial|yesno:'true,false' }}"
             {% include "django/forms/widgets/attrs.html" %}>
    </span>
  </nobr>
</p>
